@import "./mixins";
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Roboto&family=Rubik:ital,wght@0,300..900;1,300..900&family=Spectral+SC:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

.container {
  padding: 0px 90px;
}

.navbar-section{
  @include positionBoxProps(fixed, unset, -1px, 0, 0, unset, 1500);
  @include flexProps(flex, center, space-between);
  padding-top: 13px !important;
  padding-bottom: 13px !important;
  transition: all 0.4s;
  
  &.nav-bg{
    background-color: #62b1b1;
    box-shadow: 0px 5px 9px -2px #00000026;
  }

  .nav-logo{
    max-height: 43px;
  }

  .book-btn{
    @include buttonProps($brand-color, 11px 17px, 30px, unset, unset, "Nunito");
  }
}

.introduction-sec {
  position: relative;
  padding-top: 120px;
  z-index: 1;
  @include backgroundImageProps("../images/introduction-bg.png", no-repeat, cover, unset, unset, unset);

  &::after {
    content: "";
    display: block;
    @include backgroundImageProps("../images/ellipse-icon.png", no-repeat, contain, unset, 340px, 340px);
    @include positionBoxProps(absolute, unset, 0px, unset, 0px, 5px, -1);
  }

  .intro-head-sec {
    margin-left: 90px;
    max-width: 1100px;
    position: relative;

    &::after {
      content: "";
      display: block;
      @include backgroundImageProps("../images/wave-icon.png", no-repeat, contain, unset, 40px, 222px);
      @include positionBoxProps(absolute, unset, unset, 34%, unset, 5px, unset);
    }

    h2 {
      @include textProps(500, 37px, $white-color, 54px, "Spectral SC");
      text-transform: capitalize;
    }
  }

  .intro-desc-sec {
    @include gridProps(2fr 1.3fr, 26px);
    position: relative;
    z-index: 1;
    padding-bottom: 20px;

    .desc-inner-sec {
      margin-left: 90px;
      margin-top: 44px !important;

      h3 {
        @include textProps(500, 30px, $white-color, unset, "Nunito");
        margin-bottom: 10px;
      }

      p {
        @include textProps(400, 15px, $white-color, 23px, "Nunito");
        max-width: 640px;
      }
    }

    .intro-bg-sec {
      margin-top: -30px;
      @include backgroundImageProps("../images/capnotrainer-img.png", no-repeat, 100% 100%, unset, 415px, 100%);
    }
  }

  .inner-bt-bg {
    background-image: linear-gradient(#008080, #001a1ac2);
    height: 75px;
    padding: 30px;
    @include positionBoxProps(absolute, unset, unset, 0, 0, 0, unset);
  }
}

.about-section {
  padding-bottom: 60px;
  .sponsors-section {
    @include gridProps(repeat(4, 1fr), 26px);
    padding: 30px 0px;
    margin-bottom: 40px;

    .sponsors-img-sec {
      @include flexProps(flex, center, center);

      &:nth-child(1) {
        img {
          max-height: 47px;
        }
      }

      &:nth-child(2) {
        img {
          max-height: 108px;
        }
      }

      &:nth-child(3) {
        img {
          max-height: 75px;
        }
      }

      &:nth-child(4) {
        img {
          max-height: 63px;
        }
      }
    }
  }

  .discover-section {
    .head-txt {
      @include textProps(600, 30px, $text-color, unset, "Spectral SC");
      text-align: center;
    }

    .discover-inner-sec {
      @include gridProps(1fr 2fr, unset);
      margin-top: 22px;

      .yoga-bg-img {
        @include backgroundImageProps("../images/yoga-bg.png", no-repeat, 100% 100%, unset, unset, unset);
      }

      .discover-desc-sec {
        background-color: #e6f2f2;

        .first-para-sec {
          @include textProps(400, 14px, $text-color, 21px, "Nunito");
          margin: 30px 30px 0px 31px;
        }

        .discover-list {
          margin: 27px 18px 40px 0px;
          padding-left: 30px;

          li {
            @include flexProps(flex, center, unset);
            margin-bottom: 23px;

            .discover-icon {
              max-height: 45px;
              margin-right: 11px;
            }

            .discover-txt-sec {
              .txt-1 {
                @include textProps(700, 16.5px, $text-color, unset, "Nunito");
              }
              .txt-2 {
                @include textProps(400, 14px, $text-color, unset, "Nunito");
              }
            }
          }
        }

        .last-para-sec {
          background-color: $brand-color;
          @include textProps(400, 14px, $white-color, 21px, "Nunito");
          padding: 20px 29px;
        }
      }
    }
  }
}

.experience-cards-sec {
  background-color: #e6f2f2;

  .exp-head-sec {
    margin: auto;
    max-width: 510px;
    padding: 40px 0px;
    line-height: 32px;
    padding-top: 59px;

    .head-txt {
      @include textProps(600, 32px, $brand-color, unset, "Spectral SC");
    }

    .exp-txt {
      font-family: "Spectral SC";
      font-size: 14px;
    }
  }

  .inner-experience-cards {
    @include gridProps(repeat(3, 1fr), 43px);
    padding-bottom: 160px;
    position: relative;

    .experience-card {
      .text-card-sec {
        box-shadow: 0px 5px 9px -2px #00000026;
        padding: 6px 18px 18px 18px;
        position: relative;
        margin-top: -7px;
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;

        &::after {
          content: "";
          display: block;
          box-shadow: 0px 0px 2px -2px rgba(0, 0, 0, 0.1490196078);
          padding: 10px;
          border-top-left-radius: 8px;
          border-top-right-radius: 8px;
          @include positionBoxProps(absolute, #e6f2f2, -11px, 0px, 0px, unset, 1);
        }

        h3 {
          @include textProps(700, 19px, $brand-color, unset, "Nunito");
        }

        p {
          @include textProps(400, 14px, $text-color, unset, "Nunito");
          margin-top: 9px;
        }
      }

      img {
        max-width: 100%;
        height: auto;
      }
    }

    &::after {
      content: "";
      display: block;
      @include backgroundImageProps("../images/experience-wave-icon.png", no-repeat, cover, unset, 97px, 344px);
      @include positionBoxProps(absolute, unset, unset, unset, unset, 27px, unset);
    }
  }
}

.feature-section {
  margin-bottom: 50px;
  .feature-head-sec {
    text-align: center;
    padding: 48px 0px;

    .head-txt {
      @include textProps(600, 30px, $text-color, unset, "Spectral SC");
    }
  }

  .inner-feature-section {
    @include gridProps(repeat(4, 1fr), 50px);

    .feature-card {
      img {
        max-height: 55px;
        margin-bottom: 14px;
      }
      h3 {
        @include textProps(700, 17px, $text-color, unset, "Nunito");
      }

      p {
        @include textProps(400, 14px, $text-color, unset, "Nunito");
        margin-top: 8px !important;
        max-width: 240px;
      }
    }
  }
}

.work-section {
  background-color: #e6f2f2;
  padding-top: 50px !important;
  padding-bottom: 90px !important;
  @include backgroundImageProps("../images/work-sec-bg.png", no-repeat, 980px 100%, right, unset, unset);

  .work-head-sec {
    margin-bottom: 25px;
    .head-txt {
      @include textProps(600, 32px, $text-color, unset, "Spectral SC");
    }
  }

  .inner-work-section {
    @include gridProps(repeat(2, 1fr), 26px);
    max-width: 700px;

    .work-card {
      background-color: #008080c2;
      color: $white-color;
      padding: 15px;
      border-radius: 6px;

      h3 {
        @include textProps(500, 18px, $white-color, unset, "Nunito");
      }

      p {
        @include textProps(300, 14px, $white-color, 21px, "Nunito");
        margin-top: 7px;
      }
    }
  }
}

.service-cards-section {
  .service-head-sec {
    text-align: center;
    padding: 40px 0px;
    padding-top: 59px;

    .head-txt {
      @include textProps(600, 32px, $text-color, unset, "Spectral SC");
    }
  }

  .inner-service-section {
    @include gridProps(repeat(4, 1fr), 43px);
    padding-bottom: 60px;
    position: relative;

    .service-card {
      background-image: linear-gradient($white-color 50%, $brand-color 50%);
      border-radius: 8px;

      .text-card-sec {
        padding: 6px 18px 18px 18px;
        position: relative;
        margin-top: -7px;
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
        background-color: $brand-color;

        &::after {
          content: "";
          display: block;
          padding: 10px;
          @include positionBoxProps(absolute, $brand-color, -11px, 0px, 0px, unset, 1);
        }

        h3 {
          @include textProps(700, 19px, $white-color, unset, "Nunito");
        }

        p {
          @include textProps(400, 14px, $white-color, unset, "Nunito");
          margin-top: 11px;
        }
      }

      img {
        max-width: 100%;
        height: auto;
      }
    }
  }
}

.user-feature-section {
  padding-bottom: 90px !important;

  .user-feature-head-sec {
    text-align: center;
    padding: 40px 0px;

    .head-txt {
      @include textProps(600, 32px, $text-color, unset, "Spectral SC");
    }
  }

  .inner-user-feature-section {
    @include flexProps(flex, center, unset);
    flex-wrap: wrap;
    gap: 26px;

 
    .user-feature-card {
      position: relative;
      flex-grow: 1;
      flex-basis: 30%;

      img {
        max-width: 100%;
        height: auto;
      }

      .text-card-sec {
        color: $white-color;
        padding: 15px;
        border-radius: 6px;
        @include positionBoxProps(absolute, #008080c2, unset, 15px, 15px, 20px, unset);

        h3 {
          @include textProps(500, 18px, $white-color, unset, "Nunito");
        }

        p {
          @include textProps(300, 13.5px, $white-color, 18px, "Nunito");
          margin-top: 9px;
        }
      }
    }
  }
}

.story-card-section {
  background-color: #e6f2f2;
  position: relative;
  padding: 0px 120px !important;

  .story-head-sec {
    text-align: center;
    padding: 30px 0px;

    .head-txt {
      @include textProps(600, 33px, $text-color, unset, "Spectral SC");
    }
  }

  &::after {
    content: "";
    display: block;
    padding: 30px;
    @include positionBoxProps(absolute, $brand-color, 111px, 0, 0, unset, unset);
  }

  .inner-story-card-sec {
    @include gridProps(repeat(2, 1fr), 42px);
    position: relative;
    z-index: 1;
    padding-bottom: 70px;

    .story-card {
      border: 1px solid $brand-color;
      background-color: $white-color;
      border-radius: 8px;
      overflow: hidden;

      .story-desc-sec {
        background-color: #e6f2f2;
        padding: 15px 20px;
        box-shadow: 0px 5px 9px -2px #00000026;
        border-radius: 9px;

        p {
          @include textProps(600, 15px, $brand-color, unset, "Nunito");
        }
      }

      .story-user-sec {
        @include flexProps(flex, center, center);
        padding: 14px 0px;

        img {
          max-height: 53px;
        }

        .text-sec {
          margin-left: 12px;
          .text-1 {
            display: block;
            @include textProps(700, 15px, $text-color, unset, "Nunito");
          }
          .text-2 {
            @include textProps(400, 13.5px, $text-color, unset, "Nunito");
          }
        }
      }
    }
  }
}