@media (max-width: 1300px) {
  .user-feature-section {
    .gym-section {
      @include gridProps(1fr 1fr, 26px);

      .gym-desc-section {
        .gym-desc-card {
          margin-top: 35px;
          @include positionBoxProps(
            relative,
            $white-color,
            unset,
            unset,
            unset,
            unset,
            unset
          );
        }
      }
    }
  }
}

@media (max-width: 1200px) {
  .container {
    padding: 0px 40px;
  }

  .story-card-section {
    padding: 0px 40px !important;
  }

  .about-section {
    .info-section {
      .info-bg-sec {
        .info-feature-sec {
          @include positionBoxProps(
            absolute,
            unset,
            50px,
            30%,
            0px,
            5px,
            unset
          );
        }
      }
    }
  }

  .introduction-sec {
    .intro-head-sec {
      margin-left: 40px;

      &::after {
        display: none;
      }
    }

    .intro-desc-sec {
      @include gridProps(repeat(1, 1fr), 26px);

      .intro-bg-sec {
        margin-top: unset;
        @include backgroundImageProps(
          "../images/capnotrainer-img.png",
          no-repeat,
          580px 100%,
          right,
          415px,
          100%
        );
      }

      .desc-inner-sec {
        margin-left: 40px;
      }
    }
  }

  .feature-section {
    .inner-feature-section {
      @include gridProps(repeat(2, 1fr), 40px);

      .feature-card {
        p {
          max-width: 320px;
        }
      }
    }
  }
}

@media (max-width: 991px) {
  .user-feature-section {
    .gym-section {
      @include gridProps(repeat(1, 1fr), 26px);
    }

    .inner-user-feature-section {
      .user-feature-card {
        flex-basis: 40%;

        &:nth-child(3) {
          order: 5;
        }

        img {
          height: 100%;
        }
      }
    }
  }

  .experience-cards-sec {
    .exp-head-sec {
      margin: unset;
    }

    .inner-experience-cards {
      @include gridProps(repeat(2, 1fr), 40px);

      .experience-card {
        &:nth-child(3) {
          grid-column: 3 / 1;
        }
      }
    }
  }

  .about-section {
    .discover-section {
      .discover-inner-sec {
        @include gridProps(1fr, unset);

        .yoga-bg-img {
          @include backgroundImageProps(
            "../images/yoga-bg.png",
            no-repeat,
            100% 100%,
            unset,
            600px,
            unset
          );
        }
      }
    }

    .info-section {
      @include gridProps(1fr, 26px);
    }
  }

  .service-cards-section {
    .inner-service-section {
      @include gridProps(repeat(2, 1fr), 35px);
    }
  }
}

@media (max-width: 768px) {
  .container {
    padding: 0px 22px;
  }

  .introduction-sec {
    .intro-head-sec {
      margin: 0px 22px;
    }

    .intro-desc-sec {
      .desc-inner-sec {
        margin: 0px 22px;
      }
      .intro-bg-sec {
        @include backgroundImageProps(
          "../images/capnotrainer-img.png",
          no-repeat,
          85% 100%,
          right,
          415px,
          100%
        );
      }
    }
  }

  .user-feature-section {
    .gym-section {
      padding: 50px 0px !important;

      @include gridProps(repeat(1, 1fr), 26px);
      .gym-desc-section {
        h2 {
          @include textProps(700, 30px, $text-color, 41px, "Spectral SC");
          text-align: center;
        }

        p{
          margin-top: 25px;
        }
      }
    }
    .inner-user-feature-section {
      .user-feature-card {
        flex-basis: 100%;
      }
    }
  }

  .about-section {
    .sponsors-section {
      @include gridProps(repeat(2, 1fr), 20px);
    }

    .info-section {
      .info-bg-sec {
        .info-bg-img {
          max-width: 100%;
          // height: auto;
          max-height: unset !important;
        }

        .info-feature-sec {
          margin-top: 32px;
          @include positionBoxProps(
            unset,
            unset,
            unset,
            unset,
            unset,
            unset,
            unset
          );
        }
      }
    }
  }

  .feature-section {
    .feature-head-sec {
      text-align: left;
    }
  }

  .story-card-section {
    padding: 0px 22px !important;

    &::after {
      @include positionBoxProps(absolute, $brand-color, unset, 0, 0, 0, unset);
      padding: 14px;
    }

    .inner-story-card-sec {
      @include gridProps(repeat(1, 1fr), 35px);
    }
  }

  .work-section {
    background-image: none !important;
  }
}

@media (max-width: 576px) {
  .introduction-sec {
    .intro-head-sec {
      h2 {
        @include textProps(500, 30px, $white-color, 45px, "Spectral SC");
      }
    }

    .intro-desc-sec {
      .intro-bg-sec {
        @include backgroundImageProps(
          "../images/capnotrainer-img.png",
          no-repeat,
          96% 100%,
          right,
          415px,
          100%
        );
      }
    }
  }

  .about-section {
    .info-section {
      .info-head-sec {
        margin-top: 0px;
        h2 {
          @include textProps(600, 30px, $brand-color, 40px, "Spectral SC");
        }
      }
    }
  }

  .service-cards-section {
    .inner-service-section {
      @include gridProps(repeat(1, 1fr), 35px);
    }
  }

  .experience-cards-sec {
    .exp-head-sec {
      line-height: 40px;
    }

    .inner-experience-cards {
      @include gridProps(repeat(1, 1fr), 40px);

      &::after {
        @include backgroundImageProps(
          "../images/experience-wave-icon.png",
          no-repeat,
          contain,
          unset,
          97px,
          300px
        );
      }

      .experience-card {
        &:nth-child(3) {
          grid-column: unset;
        }
      }
    }
  }

  .feature-section {
    .inner-feature-section {
      @include gridProps(repeat(1, 1fr), 40px);

      .feature-card {
        p {
          max-width: 100%;
        }
      }
    }
  }

  .work-section {
    .inner-work-section {
      @include gridProps(repeat(1, 1fr), 26px);
    }
  }
}

@media (max-width: 480px) {
  .navbar-section {
    .nav-logo {
      max-height: 38px;
    }
  }

  .about-section {
    .sponsors-section {
      @include gridProps(repeat(1, 1fr), 26px);
    }

    .discover-section {
      .discover-inner-sec {
        .yoga-bg-img {
          @include backgroundImageProps(
            "../images/yoga-bg.png",
            no-repeat,
            100% 100%,
            unset,
            360px,
            unset
          );
        }
      }
    }
  }

  .introduction-sec {
    .intro-desc-sec {
      .intro-bg-sec {
        @include backgroundImageProps(
          "../images/capnotrainer-img.png",
          no-repeat,
          96% 100%,
          right,
          345px,
          100%
        );
      }
    }
  }
}
